body {
    color: #1A1A1A;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #61D7B7;
}

#container {
    width: 1280px;
    height: auto;
    background-color: rgba(254,252,255,1.00);
    margin: auto;
}

/*float the aside so it displays next to main.*/
aside {
    width: 150px;
    height: 1200px;
    float: left;
    background-color: #FFB5B5;
}

header {
    width: 1280px;
    height: 250px;
    background-image: url(../head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 0px 0px 0px;
    color: #DF318D;
}
/*float the main so it shows up next to the aside. subtracted 150 from the width so they both fit well under header.*/
main {
    width: 1100px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
   
}

.floatLeft{
	float: left;
}

article {
    margin-bottom: 30px;
}


/*clear the float so the footer shows up in the right place again.*/
footer {
    width: 1280px;
    height: 50px;
    clear: both;
    background-color: pink;
}
h1 {
    color: pink;
	font-family: politica, sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 24pt;
}
p{
	font-family: canada-type-gibson,sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
h3 {
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
nav {
    width: 1280px;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 80px;
    margin-left: 0px;
    margin-right: 40px;
}
#container nav ul {
    margin: auto;
    width: 510px;
}

nav a:link {
    color: #6BE7FF;
	padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #67338E;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #6BE7FF;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #191919;
}
.submit_btn {
    width: 172px;
    height: 30px;
    border-radius: 10px;
    background-color: #6BE7FF;
    color: #FFFFFF;
    font-size: 16px;
   
}

.submit_btn:hover{-webkit-box-shadow: 6px 6px 27px 1px #000000;
    box-shadow: 6px 6px 27px 1px #000000;
}
.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-left: 60px;
    margin-right: 20px;
}
.cclicense {
    width: 663px;
    height: 20px;
    padding: 50px 0px 0px 0px;
    clear: both;
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}


/*Rules the page will follow for tablet sized devices*/

@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	header {
		width: 768px;
	}
	nav {
		width: 768px;
	}
	main {
		width: 598px;
		height: 2500px;
	}
	footer{
		width: 768px;
	}
	.column {
		margin: 0px 20px 0px 25px;
	}
	
}
/*rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}
	header {
		width: 300px;
		background-image: url("../imagees/header.jpg")
	}
	nav {
		width: 300px;
		height: 200px;
		position: static;
	}
	main {
		width: 300px;
	}
	footer{
		width: 300px;
	}
	aside {
		display: none;
	}
	
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #65EBFB;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}

}
